trigger: none

pool:
  name: aks-infra

name: $(Date:yyyyMMdd).$(Rev:r) (cdmz_deploy)

parameters:
- name: project
  displayName: Project
  type: string
  values:
  - resource-groups
  - networking
  - fivetran-integration
  - management
  - pbi-gateway
  - shared-shir
  - governance
  - monitoring
  - permissions



stages:
- template: templates/stage/stages-plan-and-deploy.yml
  parameters:
    st_serviceconn: CDP_Management
    st_env: prod
    st_dependson: deploy_prod_networking
    st_workingdir: '$(System.DefaultWorkingDirectory)/projects/cdmz/${{ parameters.project }}/'
    st_backend_key: 'prod/cdmz/${{ parameters.project }}.tfstate'
    st_sub_project: ${{ replace( parameters.project, '-', '_' ) }}
    #st_additional_vars: ${{ variables.additional_vars }}