trigger: none

pool:
  name: aks-infra

name: $(Date:yyyyMMdd).$(Rev:r) (cdpz_dry_run)

parameters:
- name: env
  displayName: Environment
  type: string
  values:
  - dev
  - uat
  - prod

- name: project
  displayName: Project
  type: string
  values:
  - resource-groups
  - prod-resource-groups.tfstate
  - networking
  - prod-networking
  - access
  - global-processing
  - data-processing
  - data-storage
  - data-streaming
  - landing
  - orchestration-and-ingestion
  - sharing
  - monitoring
  - permissions

variables:
  - group: environment

stages:
- template: templates/stage/stages-plan-and-deploy.yml
  parameters:
    st_serviceconn: CDP_${{ parameters.env }}
    st_env: ${{ parameters.env }}
    st_dependson: deploy_${{ parameters.env }}_networking
    st_workingdir: '$(System.DefaultWorkingDirectory)/projects/cdpz/${{ parameters.project }}/'
    st_backend_key: '${{ parameters.env }}/cdpz/${{ parameters.project }}.tfstate'
    st_sub_project: ${{ replace( parameters.project, '-', '_' ) }}