trigger: none

pool:
  name: aks-infra

name: $(Date:yyyyMMdd).$(Rev:r) (cdmz_deploy)

parameters:
- name: project
  displayName: Project
  type: string
  values:
  - resource-groups
  - networking
  - fivetran-integration
  - management
  - pbi-gateway
  - shared-shir
  - governance
  - monitoring
  - permissions

variables:
  - group: environment
  - ${{ if eq( parameters.project, 'pbi-gateway' ) }}:
    - name: additional_vars
      value: "-var admin_password=$(environment.PBI_GATEWAY_VM_PASSWORD) "
  - ${{ if eq( parameters.project, 'shared-shir' ) }}:
    - name: additional_vars
      value: "-var admin_password=$(environment.SHIR_VM_PASSWORD) "
  - ${{ if eq( parameters.project, 'fivetran-integration' ) }}:
    - name: additional_vars
      value: "-var vm_admin_password=$(environment.FIVETRAN_VM_PASSWORD) -var sql_admin_password=$(environment.FIVETRAN_SQL_PASSWORD) "
  - ${{ else }}:
    - name: additional_vars
      value: ""

stages:
- template: templates/stage/stages-plan-and-deploy.yml
  parameters:
    st_serviceconn: CDP_Management
    st_env: prod
    st_dependson: deploy_prod_networking
    sst_workingdir: '$(System.DefaultWorkingDirectory)/projects/cdmz/${{ parameters.project }}/'
    st_backend_key: 'prod/cdmz/${{ parameters.project }}.tfstate'
    st_sub_project: ${{ replace( parameters.project, '-', '_' ) }}
    st_additional_vars: $( additional_vars )