trigger: none

pool:
  name: aks-infra

stages:
  - stage: unlock
    jobs:
    - job: unlock
      steps:
      - task: ms-devlabs.custom-terraform-tasks.custom-terraform-installer-task.TerraformInstaller@1
        displayName: install
        inputs:
          terraformVersion: 'latest'
      - task: TerraformTaskV4@4
        displayName: 'init'
        env:
          ARM_USE_MSI: true
          ARM_SUBSCRIPTION_ID: "1691759c-bec8-41b8-a5eb-03c57476ffdb"
          ARM_TENANT_ID: "2bd16c9b-7e21-4274-9c06-7919f7647bbb"
          ARM_CLIENT_ID: "4bdad00a-f14e-4129-a845-c2a2f221dfbb"
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)/projects/rbac-permissions/'
          backendServiceArm: 'CDP_Management'
          backendAzureRmResourceGroupName: 'cdmz-cicd-rg'
          backendAzureRmStorageAccountName: 'cdmztfstatefiledls'
          backendAzureRmContainerName: 'tfstate'
          backendAzureRmKey: 'prod/rbac-permissions.tfstate'
      - task: TerraformCLI@1
        env:
          ARM_USE_MSI: true
          ARM_SUBSCRIPTION_ID: "1691759c-bec8-41b8-a5eb-03c57476ffdb"
          ARM_TENANT_ID: "2bd16c9b-7e21-4274-9c06-7919f7647bbb"
          ARM_CLIENT_ID: "4bdad00a-f14e-4129-a845-c2a2f221dfbb"
        inputs:
          command: 'forceunlock'
          workingDirectory: '$(System.DefaultWorkingDirectory)/projects/rbac-permissions/'
          lockID: '009fdde2-be92-6f06-5f8f-6a6b310950bc'